<div class="max-w-3xl mx-auto" id="question-{{ question.id }}">
    <h1 class="text-3xl font-bold mb-8">Frage {{ nr }}</h1>
    
    <div  
         class="bg-white rounded-lg p-6 my-4 transition-all duration-300 ">
        <form class="the-question-form" 
              hx-post="{% url 'comparison:save_poll' nr %}"
              hx-target ="#question-{{ question.id }}"
			  hx-swap="outerHTML" >
            {% csrf_token %}
            <input type="hidden" name="question_id" value="{{ question.id }}">
            
            <h2 class="text-xl font-semibold mb-4">{{ question.text }}</h2>
            
            <div class="grid grid-cols-3 gap-2">
                <button type="submit" 
                        name="answer"
                        value="agree"
                        class="flex items-center justify-center p-2 rounded border border-blue-200 hover:bg-blue-50 transition-colors">
                    <span class="text-blue-600 font-medium">Stimme zu</span>
                </button>
                
                <button type="submit" 
                        name="answer"
                        value="neutral"
                        class="flex items-center justify-center p-2 rounded border border-gray-200 hover:bg-gray-100 transition-colors">
                    <span class="text-gray-600">Neutral</span>
                </button>
                
                <button type="submit" 
                        name="answer"
                        value="disagree"
                        class="flex items-center justify-center p-2 rounded border border-red-200 hover:bg-red-50 transition-colors">
                    <span class="text-red-600 font-medium">Stimme nicht zu</span>
                </button>
            </div>
        </form>
    </div>
    <div class="flex justify-between mt-8">
        <button id="prev-question" 
                class="bg-gray-500 text-white px-6 py-2 rounded-lg hover:bg-gray-600 disabled:opacity-50 disabled:cursor-not-allowed"
                disabled>
            Zurück
        </button>
        <button id="next-question" 
                class="bg-blue-600 text-white px-6 py-2 rounded-lg hover:bg-blue-700">
            Weiter
        </button>
    </div>

</div>

